{% extends 'base.html' %}

{% block content %}
<h1 style="width: 100%">{% block title %} Add a New Blood Result {% endblock %}</h1>
<form method="post">
<div class="results">

    <p>
        <label for="test">Choose a test:</label>
        <select name="test">
            <option value="TotC">Total Chlo</option>
            <option value="Trigs">Trigs</option>
            <option value="HDL">HDL</option>
            <option value="LDL">LDL</option>
            <option value="NonH">NonH</option>
            <option value="Ratio">Chlo Ratio</option>
            <option value="Cre">Creatinine</option>
            <option value="AST">AST</option>
            <option value="ALT">ALT</option>
            <option value="Albumin">Albumin</option>
            <option value="Bul">Total Bulirubin</option>
            <option value="GFR">eGFR</option>
            <option value="SHBG">SHBG</option>
            <option value="FreeT">Free Test</option>
            <option value="TotT">Total Test</option>
            <option value="Estro">Estrogen</option>
            <option value="VitD">VitD</option>            
            <option value="CRP">CRP</option>


        </select>
    <p>
        <label for="result">Result</label>
        <input type="text" name="result" placeholder="Result">
        </input>
    </p>

    <p>
        <label for="date">Date</label>
        <input type="date" name="date" placeholder="Defaults to today">
        </input>
    </p>

    <p>
        <label for="flag">Flag</label>
        <input type="text" name="flag" placeholder="Can leave blank">
        </input>
    </p>


    <p>
        <button type="submit">Submit</button>
    </p>
</form>
</div>
{% endblock %}